<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BiliBili弹幕视频网[]~(￣▽￣)~*</title>
    <link rel="stylesheet" type="text/css" href="../static/register.css" />
    <script src="https://cdn.bootcdn.net/ajax/libs/axios/0.21.1/axios.js"></script>
  </head>
  <body>
    <div class="nav">
      <div class="dropdown">
        <a><img src="../static/Bi1.png" /></a>
      </div>
      <div class="navitems">
        <li><a href="">主站</a></li>
        <li><a href="">番剧</a></li>
        <li><a href="">游戏中心</a></li>
        <li><a href="">直播</a></li>
        <li><a href="">会员购</a></li>
        <li><a href="">漫画</a></li>
        <li><a href="">赛事</a></li>
        <li><a href="">下载APP</a></li>
      </div>
      <div class="searchbox">
        <input class="search" placeholder="郑爽被DISS？大快人心！" />
        <button></button>
      </div>
    </div>
    <div class="box">
      <a><img src="../static/Bi3.png" /></a>
      <p align="center" class="title">注册</p>
      <ul>
        <li><input type="text" class="Username" placeholder="昵称"/><span class="judge1"></span></li>
        <li><input type="password" class="password" placeholder="密码（6-16个字符组成，区分大小写）"/><span></span></li>
        <li><input class="tlnumber" type="number" placeholder="填写常用手机号"/><span></span></li> 
        <li><div class="identy"><input class="IDnum" type="number" placeholder="请输入短信验证码"><span><button class="btn1">点击获取</button></span></div></li>
        <li><div class="box2"><span><input type="checkbox" class="check"></span><span class="agree">&nbsp我已经同意<a href="#">《哔哩哔哩弹幕用户使用协议》</a>和<a href="#">《哔哩哔哩隐私政策》</a></span></div></li>
        <li><button class="btn2">注册</button></li>
        <li><a href="#" class="log">已有账号，直接登录></a></li>
        </ul>
      </div>
    <script type="text/javascript" src="../static/register.js"></script>
  </body>
</html>
